@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 0.8rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.4rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rPN4RCXYDA {
  background-image: url("../../../assets/images/wechatimg20-2-2000x1500.jpeg");
}
.cid-rPN4RCXYDA .icons-media-container {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-rPN4RCXYDA .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-rPN4RCXYDA .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-rPN4RCXYDA .mbr-text {
  color: #ffffff;
}
.cid-rPN4RCXYDA .card {
  padding-bottom: 1.5rem;
}
.cid-rPN4RCXYDA .mbr-text,
.cid-rPN4RCXYDA .mbr-section-btn {
  color: #ffffff;
}
.cid-rPN4knxwDz {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-rPN4knxwDz P {
  color: #767676;
}
.cid-rPNjczuUQd {
  padding-top: 30px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/wechatimg2-2000x1333.jpg");
}
.cid-rPNjczuUQd H1 {
  color: #ffffff;
}
.cid-rSL8S7l6SE {
  background-image: url("../../../assets/images/wechatimg16-2000x1333.jpg");
}
.cid-rSL8S7l6SE H1 {
  color: #ffffff;
}
.cid-rQswBwoX3h {
  background-image: url("../../../assets/images/wechatimg7-2000x1333.jpeg");
}
.cid-rQswBwoX3h h1 {
  color: #616161;
}
.cid-rQswBwoX3h h2,
.cid-rQswBwoX3h h3,
.cid-rQswBwoX3h p {
  color: #767676;
}
.cid-rQswBwoX3h .mbr-section-subtitle {
  font-style: italic;
}
.cid-rQswBwoX3h H3 {
  color: #070000;
}
.cid-rQswBwoX3h H1 {
  color: #232323;
}
.cid-rQswBwoX3h P {
  text-align: right;
}
.cid-rQsuISu2HX {
  background: #ffffff;
}
.cid-rQsuISu2HX .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-rQsuISu2HX .mbr-figure {
  margin: 0 auto;
}
.cid-rQsuISu2HX figcaption {
  position: relative;
}
.cid-rQsuISu2HX figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rQsuISu2HX .image-block {
    width: 100% !important;
  }
}
.cid-rSL9BwaXsx {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
  .cid-rSL9BwaXsx .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rSL9BwaXsx .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-rSL9BwaXsx .mbr-section-title {
  color: #cc2952;
}
.cid-rSL9BwaXsx .mbr-text,
.cid-rSL9BwaXsx .mbr-section-btn {
  color: #232323;
}
.cid-rPK2MLs1JD {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rPK2MLs1JD .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rPK2MLs1JD .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rPK2MLs1JD .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rPK2MLs1JD H1 {
  color: #232323;
}
.cid-rPK2MLs1JD .mbr-text,
.cid-rPK2MLs1JD .mbr-section-btn {
  color: #232323;
}
.cid-rQszl3V9CN {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rQszl3V9CN .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rQszl3V9CN .mbr-content-text {
  color: #767676;
}
.cid-rQszl3V9CN .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rQszl3V9CN .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-rQszl3V9CN .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-rQszl3V9CN .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rQszl3V9CN .media-block {
    padding-right: 2rem;
  }
}
.cid-rQszl3V9CN .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rQszl3V9CN .card-img {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-rQszl3V9CN .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rSTLsx6BL8 {
  background-color: #ffffff;
}
.cid-rSTLsx6BL8 .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSTLsx6BL8 .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSTLsx6BL8 .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSTR0VUHB0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rSTR0VUHB0 P {
  color: #767676;
}
.cid-rSQVnQXnLo {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rSQVnQXnLo .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSQVnQXnLo .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSQVnQXnLo .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSTNj6LDjN {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rSTNj6LDjN .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSTNj6LDjN .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSTNj6LDjN .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rQswlXmtCz {
  background-image: url("../../../assets/images/wechatimg1-2000x1333.jpeg");
}
.cid-rQswlXmtCz h1 {
  color: #616161;
}
.cid-rQswlXmtCz h2,
.cid-rQswlXmtCz h3,
.cid-rQswlXmtCz p {
  color: #767676;
}
.cid-rQswlXmtCz .mbr-section-subtitle {
  font-style: italic;
}
.cid-rQswlXmtCz H1 {
  color: #ffffff;
}
.cid-rQswlXmtCz H3 {
  color: #ffffff;
}
.cid-rQswlXmtCz .mbr-text,
.cid-rQswlXmtCz .mbr-section-btn {
  color: #ffffff;
}
.cid-rSA40xHTgr {
  background-image: url("../../../assets/images/rose-15-2000x1250.jpg");
}
.cid-rNxM0oNAn6 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rNxM0oNAn6 h2 {
  text-align: left;
}
.cid-rNxM0oNAn6 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rNxM0oNAn6 p {
  color: #767676;
  text-align: left;
}
.cid-rNxM0oNAn6 .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rNxM0oNAn6 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rNxM0oNAn6 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rNxM0oNAn6 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rNxM0oNAn6 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rNxM0oNAn6 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rNxM0oNAn6 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rNxM0oNAn6 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rNxM0oNAn6 .card-img span {
    font-size: 40px !important;
  }
}
.cid-rSzDWdL0FY .modal-body .close {
  background: #1b1b1b;
}
.cid-rSzDWdL0FY .modal-body .close span {
  font-style: normal;
}
.cid-rSzDWdL0FY .carousel-inner > .active,
.cid-rSzDWdL0FY .carousel-inner > .next,
.cid-rSzDWdL0FY .carousel-inner > .prev {
  display: table;
}
.cid-rSzDWdL0FY .carousel-control .icon-next,
.cid-rSzDWdL0FY .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rSzDWdL0FY .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rSzDWdL0FY .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rSzDWdL0FY .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-rSzDWdL0FY .boxed-slider > div {
  position: relative;
}
.cid-rSzDWdL0FY .container img {
  width: 100%;
}
.cid-rSzDWdL0FY .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-rSzDWdL0FY .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rSzDWdL0FY .mbr-table-cell {
  padding: 0;
}
.cid-rSzDWdL0FY .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-rSzDWdL0FY .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-rSzDWdL0FY .mbr-overlay {
  z-index: 1;
}
.cid-rSzDWdL0FY .container-slide.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rSzDWdL0FY .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-rSzDWdL0FY .carousel-item .container {
    width: 100%;
  }
}
.cid-rSzDWdL0FY .carousel-item-next.carousel-item-left,
.cid-rSzDWdL0FY .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-rSzDWdL0FY .active.carousel-item-right,
.cid-rSzDWdL0FY .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-rSzDWdL0FY .active.carousel-item-left,
.cid-rSzDWdL0FY .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-rSzDWdL0FY .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-rSzDWdL0FY .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rSzDWdL0FY .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rSzDWdL0FY .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-rSzDWdL0FY .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-rSzDWdL0FY .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-rSzDWdL0FY .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-rSzDWdL0FY .mbr-slider .carousel-indicators li.active,
.cid-rSzDWdL0FY .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-rSzDWdL0FY .mbr-slider .carousel-indicators li::after,
.cid-rSzDWdL0FY .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-rSzDWdL0FY .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-rSzDWdL0FY .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-rSzDWdL0FY .mbr-slider > .container img {
  width: 100%;
}
.cid-rSzDWdL0FY .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-rSzDWdL0FY .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-rSzDWdL0FY .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rSzDWdL0FY .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rSzDWdL0FY .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-rSzDWdL0FY .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-rSzDWdL0FY .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-rSzDWdL0FY .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-rSzDWdL0FY .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-rSzDWdL0FY .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rSzDWdL0FY .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-rSzDWdL0FY .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-rSzDWdL0FY .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-rSzDWdL0FY H2 {
  color: #ffffff;
  text-align: left;
}
.cid-rSzDWdL0FY P {
  color: #ffffff;
  text-align: left;
}
.cid-rSLbhcoqYY {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
  .cid-rSLbhcoqYY .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rSLbhcoqYY .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-rSLbhcoqYY .mbr-section-title {
  color: #7f1933;
}
.cid-rSLbhcoqYY .mbr-text,
.cid-rSLbhcoqYY .mbr-section-btn {
  color: #232323;
}
.cid-rQsYkjCsHk {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rQsYkjCsHk .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rQsYkjCsHk .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rQsYkjCsHk .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rQsYkjCsHk H1 {
  color: #232323;
}
.cid-rQsYkjCsHk .mbr-text,
.cid-rQsYkjCsHk .mbr-section-btn {
  color: #070000;
}
.cid-rSLdjLDabL {
  padding-top: 15px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
@media (min-width: 992px) {
  .cid-rSLdjLDabL .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rSLdjLDabL .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-rSLdjLDabL .mbr-section-title {
  color: #232323;
}
.cid-rSLdjLDabL .mbr-text,
.cid-rSLdjLDabL .mbr-section-btn {
  color: #232323;
}
.cid-rSL2AI8Xxk {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rSL2AI8Xxk .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSL2AI8Xxk .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSL2AI8Xxk .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSL2AI8Xxk .mbr-text,
.cid-rSL2AI8Xxk .mbr-section-btn {
  color: #232323;
}
.cid-rSL2AI8Xxk H1 {
  color: #232323;
}
.cid-rSL1zLRbSg {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rSL1zLRbSg .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSL1zLRbSg .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSL1zLRbSg .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSL1zLRbSg H1 {
  color: #232323;
}
.cid-rSL1zLRbSg .mbr-text,
.cid-rSL1zLRbSg .mbr-section-btn {
  color: #232323;
}
.cid-rSKLWQ8Koo {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rSKLWQ8Koo .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSKLWQ8Koo .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSKLWQ8Koo .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSKLWQ8Koo H1 {
  color: #232323;
}
.cid-rSKLWQ8Koo .mbr-text,
.cid-rSKLWQ8Koo .mbr-section-btn {
  color: #232323;
}
.cid-rSKOjf8fQW {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rSKOjf8fQW .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSKOjf8fQW .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSKOjf8fQW .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSKS7RRzJO {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rSKS7RRzJO .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSKS7RRzJO .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSKS7RRzJO .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSKSvUhp50 {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rSKSvUhp50 .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSKSvUhp50 .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSKSvUhp50 .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rRJxQhBQvd {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/wechatimg21-2000x3000.jpg");
}
.cid-rRJxQhBQvd .icons-media-container {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-rRJxQhBQvd .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-rRJxQhBQvd .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-rRJxQhBQvd .mbr-text {
  color: #ffffff;
}
.cid-rRJxQhBQvd .card {
  padding-bottom: 1.5rem;
}
.cid-rSKOPVr6uY {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rSKOPVr6uY .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSKOPVr6uY .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSKOPVr6uY .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSKPh4urGs {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rSKPh4urGs .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSKPh4urGs .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSKPh4urGs .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rSKPKlXHXU {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rSKPKlXHXU .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rSKPKlXHXU .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rSKPKlXHXU .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rQt4m10Bw4 {
  padding-top: 45px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/wechatimg8-1365x2048.jpeg");
}
.cid-rQt4m10Bw4 H1 {
  color: #ffffff;
}
.cid-rQt4m10Bw4 .mbr-text,
.cid-rQt4m10Bw4 .mbr-section-btn {
  color: #232323;
}
